
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Game Time</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

<h2>NFL Leader Board</h2>

  <body>

<%= yield %>

  </body>
</html>

