<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
  </thead>

  <tbody>
    <% @team_records.each do |team_name,scores| %>
      <tr>
        <td><%= team_name %></td>
        <td><%= scores[:wins] %></td>
        <td><%= scores[:losses] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
